body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200vh; /* extra height allows scrolling to hide mobile bars */
    overflow-x: hidden;
    background: black;
    cursor: url("assets/images/HAND.png"), auto;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100vh; /* full viewport height */
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}