body {
    margin: 0;
    overflow: hidden; /* no scrollbars */
    cursor: url("assets/images/HAND.png"), auto;
    background: black;
}

/* custom cursor for HTML links */
.clickable-link {
    cursor: url("assets/images/HAND2.png"), auto;
  position: absolute;
  display: block;
  width: 100px; /* will be updated dynamically */
  height: 100px; /* will be updated dynamically */
  background: transparent;
  z-index: 9999;
}