body {
    margin: 0;
    overflow: hidden; /* no scrollbars */
    cursor: url("assets/images/HAND.png"), auto;
    background: black;
}

/* custom cursor for HTML links */
.clickable-link {
    cursor: url("assets/images/HAND2.png"), auto;
    position: absolute;
    background: transparent;
    z-index: 10;
}